@{
    ViewData["Title"] = "Home Page";
}

@using Domain
@model List<Domain.Models.StudentOpdrachtVoortgang>

@{
    var self = @Model.FirstOrDefault()!;
}

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Voortgang bewerken</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          <div class="form-floating mb-3">
            <select class="form-select" id="statusSelect">
              <option value="@Voortgang.NietBegonnen" selected>Niet begonnen</option>
              <option value="@Voortgang.Bezig">Bezig</option>
              <option value="@Voortgang.Afgerond">Afgerond</option>
              <option value="@Voortgang.ZitVast">Zit vast</option>
          </select>
            <label for="statusSelect">Huidige voortgang</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Laat je bericht hier achter" id="messageInput" style="height: 100px"></textarea>
            <label for="messageInput">Laat weten waar je mee zit</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Terug</button>
        <button type="button" class="btn btn-outline-primary">Voortgang bewerken</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

    
    <span class="subtitle">Opdracht</span>
    <h1 class="title">@Model.FirstOrDefault()!.Opdracht.Naam </h1>
    
    <div class="header">
        <h2 class="heading">Jezelf</h2>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#updateModal">
            Voortgang bewerken
        </button>
    </div>
    <div class="student student-self">
        <div class="student-header">
            <h2 class="student-name">@self.Student.Name</h2>
            @if (self.Voortgang.Equals(Voortgang.NietBegonnen))
            {
                <p class="student-progress">Niet begonnen</p>
            }
            @if (self.Voortgang.Equals(Voortgang.Bezig))
            {
                <p class="student-progress student-progress--ongoing">Bezig</p>
            }
            @if (self.Voortgang.Equals(Voortgang.Afgerond))
            {
                <p class="student-progress student-progress--finished">Afgerond</p>
            }
            @if (self.Voortgang.Equals(Voortgang.ZitVast))
            {
                <p class="student-progress student-progress--stuck">Zit vast</p>
            }
        </div>
        <p class="student-message">Ik zit vast met opdracht 1, 6 en 8</p>
    </div>
    
    <div class="header">
            <h2 class="heading">Je klasgenoten</h2>
        </div>
    <div class="student-wrapper">
        @foreach (var item in Model)
        {
            <div class="student">
                <div class="student-header">
                    <h2 class="student-name">@item.Student.Name</h2>
                    @if (item.Voortgang.Equals(Voortgang.NietBegonnen))
                    {
                        <p class="student-progress">Niet begonnen</p>
                    }
                    @if (item.Voortgang.Equals(Voortgang.Bezig))
                    {
                        <p class="student-progress student-progress--ongoing">Bezig</p>
                    }
                    @if (item.Voortgang.Equals(Voortgang.Afgerond))
                    {
                        <p class="student-progress student-progress--finished">Afgerond</p>
                    }
                    @if (item.Voortgang.Equals(Voortgang.ZitVast))
                    {
                        <p class="student-progress student-progress--stuck">Zit vast</p>
                    }
                </div>
                <p class="student-message">Ik zit vast met opdracht 1, 6 en 8</p>
            </div>
        }
    </div>
</div>